<%- include('../partials/header') -%>


<h1>Le juste prix(nombre)</h1>



<form action="/play" method="post">
  <% if (game._status == 0) { %>
    <p>Vous avez 10 essais pour deviner un nombre compris entre 1 et 1000.</p>
  <% } %>
  <label for="guess">
    Tentative restante :
    <% for (let i = 1; i < 11; i++) { %>  
      <% if (i > game.remainingTries) { %>
        <span style="background-color: red;">
          <% } else { %>
            <span style="background-color: green;">
            <% } %>
          <%= i %>
          </span>   
      <% } %>
  </label>
  <% if (game._status == 3) { %>
    <p>Le nombre à deviner est supérieur.</p>
    <% } else if (game._status == 4) { %>
    <p>Le nombre à deviner est inférieur.</p>
    <% } %>
  <label for="guess">Entrez un nombre</label>
  <input type="number" id="guess" name="guess" value="">
  <input type="submit"></input>
</form>